{% extends 'portal/base.html' %}

{% block dinamico %}
	{% for noti in nots %}
	
	{% if user.is_authenticated %}
		<div class="POST">
		{% if noti.photo %}
		<img class="img" src="{{noti.photo.url}}" width="200" height="150"/>
		{% endif %}
		<br><br><br><br><br><br><br>
		<p class="data">publicado em: {{ noti.published_date }} </p>
		<a href="{% url 'not_edit' pk=noti.pk %}"><button>Editar</button></a>
		<h2><a href="{% url 'not_detail' pk=noti.pk %}">{{ noti.title }}</a></h2>
		<h3>{{ noti.area }}</h3>
		<p class="texto">{{ noti.text|linebreaksbr }}</p>
	</div>
	<br>
	{% else %}
		Somente usuários cadastrados!!
	{% endif %}

	{% endfor %}

{% endblock %}
