h1{
	color: #696969;
	font-family: Tahoma,Arial;
}
h2{
	color: blue;

}
p.data{
	color: #8B6969;
	text-align: right;
}
p.texto{
  	width:1200px;
  	padding: 30px;
  	padding-top: 0%;
}
div.titulo{
	padding: 10px;
	background-color: #6495ED;
}
div.POST{
	background-color: #F5DEB3;
}